/*lato*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/*Merriweather*/
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather-Light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather-Black.woff2);
  font-weight: 900;
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather-Light.woff);
  font-weight: 300;
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather-Regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather-Bold.woff);
  font-weight: 700;
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather-Black.woff);
  font-weight: 900;
}